body{
	font-family: 'Space Mono';
	background-image: url('texture/hatter.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color:#4a4a4a;
	height: 500px;
}

h1, h2{
	color: white;
}

table {
	border-collapse: collapse;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.459)
}

td, th {
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: black;
}

input[type='text']{
  font-family: 'Space Mono';
  background: white;
  color: black;
  border: none;
}

input[type='submit']{
  font-family: 'Space Mono';
  background: red;
  color: white;
  border: none;
}

button {
	font-family: 'Space Mono';
 	background: red;
	color: white;
	border: none;
}

